@media (max-width: 1000px) {
    .authentication{
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        .authentication-close{
            display: block;
        }
        .authentication-content{
            height: 100vh;
        }
    }
}
@media (max-width: 768px) {
    
}
@media (max-width: 320px) {
    
}